name: Pull Request
on:
  pull_request:

permissions:
  contents: read # Required for actions/checkout
  checks: write # Set status of checks
  issues: write # Comment the PR as we go
  statuses: write # Set commit statuses as tests pass or fail
  pull-requests: write # Get/comment the PR itself

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Generate Debug Keystore
        run: |
          mkdir -p ~/.android
          keytool -genkey -v \
            -keystore ~/.android/debug.keystore \
            -storepass android \
            -alias androiddebugkey \
            -keypass android \
            -keyalg RSA \
            -keysize 2048 \
            -validity 10000 \
            -dname "CN=Android Debug,O=Android,C=US"
          echo "New debug keystore generated"
          cat ~/.android/debug.keystore | base64 -w 0

      - name: Build Debug APK
        working-directory: ./app
        run: |
          chmod +x ./gradlew
          ./gradlew assembleDebug

      - name: Upload Debug APK
        uses: actions/upload-artifact@v5
        with:
          name: app-debug-apk
          path: ./app/app/build/outputs/apk/debug/app-debug.apk

